/temp_storage/*
/notebooks/.ipynb_checkpoints/*
/notebooks/models/*
/notebooks/processed_data/*
/notebooks/new_data.txt
docker-compose.yml
pipeline/deploy_model/model/model.pkl
pipeline/deploy_model/model/le
